# 1. Importing Libraries

In [3]:
# Import pandas, NumPy, and os libraries.
import pandas as pd
import numpy as np
import os

# 2. Importing Data

In [5]:
path = r'C:\Users\nrsmi\OneDrive\Documents\CareerFoundry\09-2024 Advanced Analytics & Dashboard\Python\10-2024 Analyzing Global Temperature Changes'

In [6]:
df_cln = pd.read_csv(os.path.join(path, '02_Data', 'Prepared Data', 'temperature_data_cleaned.csv'), index_col = False)
df_lmtd = pd.read_csv(os.path.join(path, '02_Data', 'Prepared Data', 'temperature_data_cleaned_limited.csv'), index_col = False)

In [7]:
  pd.set_option('display.max_columns', None)  # Display all columns

# 3. Descriptive Analysis

In [9]:
df_cln.shape

(9656, 62)

In [10]:
df_lmtd.shape

(8330, 62)

In [11]:
df_cln.dtypes

Area        object
Months      object
Element     object
1961       float64
1962       float64
            ...
2015       float64
2016       float64
2017       float64
2018       float64
2019       float64
Length: 62, dtype: object

In [12]:
df_lmtd.dtypes

Area        object
Months      object
Element     object
1961       float64
1962       float64
            ...
2015       float64
2016       float64
2017       float64
2018       float64
2019       float64
Length: 62, dtype: object

In [13]:
#check for duplicates
df_cln_dups = df_cln[df_cln.duplicated()]
df_cln_dups

Empty DataFrame
Columns: [Area, Months, Element, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
Index: []

In [14]:
#check for duplicates
df_lmtd_dups = df_lmtd[df_lmtd.duplicated()]
df_lmtd_dups

Empty DataFrame
Columns: [Area, Months, Element, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
Index: []

In [15]:
# Check for mixed-type data in your df_cln dataframe

for col in df_cln.columns.tolist():
  weird = (df_cln[[col]].map(type) != df_cln[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cln[weird]) > 0:
    print (col)

In [16]:
# Check for mixed-type data in your df_lmtd dataframe

for col in df_lmtd.columns.tolist():
  weird = (df_lmtd[[col]].map(type) != df_lmtd[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_lmtd[weird]) > 0:
    print (col)

In [17]:
df_cln.describe()

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,8287.000000,8322.000000,8294.000000,8252.000000,8281.000000,8364.000000,8347.000000,8345.00000,8326.000000,8308.000000,8303.000000,8323.000000,8394.000000,8374.000000,8280.000000,8209.000000,8257.000000,8327.000000,8290.000000,8283.000000,8276.000000,8237.000000,8205.000000,8259.000000,8216.000000,8268.000000,8284.000000,8273.000000,8257.000000,8239.000000,8158.000000,8354.000000,8315.000000,8373.000000,8409.000000,8439.000000,8309.000000,8370.000000,8324.000000,8342.000000,8241.000000,8312.000000,8390.000000,8415.000000,8424.000000,8503.000000,8534.000000,8475.000000,8419.000000,8435.000000,8437.000000,8350.000000,8427.000000,8377.000000,8361.000000,8348.000000,8366.000000,8349.000000,8365.000000
mean,0.402433,0.315527,0.317393,0.269382,0.217839,0.376419,0.263239,0.24487,0.382172,0.365322,0.240934,0.302553,0.427691,0.261849,0.314653,0.221112,0.422978,0.355488,0.442465,0.438270,0.437693,0.404857,0.503748,0.366971,0.365511,0.398096,0.535514,0.546662,0.469231,0.621797,0.499991,0.447798,0.439094,0.611078,0.635836,0.477239,0.617341,0.818264,0.704445,0.674191,0.741673,0.802509,0.769485,0.726237,0.777465,0.791795,0.842554,0.742614,0.814177,0.884504,0.768488,0.788930,0.829647,0.913872,1.018816,1.081491,1.003342,1.010832,1.094599
std,0.701567,0.713777,0.853133,0.749216,0.739418,0.737370,0.725421,0.75490,0.725313,0.662412,0.727313,0.765895,0.677769,0.768850,0.723964,0.755587,0.677094,0.662228,0.670377,0.638585,0.701570,0.675693,0.749268,0.700364,0.765491,0.710202,0.756869,0.664038,0.758738,0.724396,0.656754,0.843925,0.817860,0.752511,0.754133,0.725210,0.741812,0.785076,0.723811,0.783754,0.781683,0.840545,0.794839,0.644364,0.720366,0.821489,0.854893,0.852562,0.694464,0.878303,0.750631,0.858586,0.713753,0.815933,0.840189,0.877399,0.809800,0.872199,0.853953
min,-4.018000,-5.391000,-8.483000,-7.309000,-4.728000,-8.147000,-6.531000,-8.40700,-6.784000,-5.847000,-7.671000,-7.722000,-4.896000,-4.732000,-6.169000,-4.263000,-6.495000,-8.228000,-6.319000,-5.784000,-6.591000,-4.550000,-6.101000,-5.437000,-8.411000,-6.345000,-8.750000,-8.963000,-5.311000,-4.030000,-4.598000,-5.414000,-7.389000,-5.099000,-4.862000,-4.027000,-4.059000,-6.031000,-3.035000,-3.596000,-5.493000,-6.170000,-6.118000,-5.025000,-5.171000,-4.981000,-3.190000,-9.334000,-3.543000,-6.072000,-4.854000,-5.785000,-3.642000,-5.367000,-4.068000,-3.306000,-3.584000,-2.216000,-2.644000
25%,0.057000,-0.033000,0.030250,-0.102500,-0.214000,0.055000,-0.169000,-0.16400,0.171000,0.094000,-0.209000,-0.028000,0.201000,-0.184000,-0.115000,-0.219000,0.174000,0.091000,0.217000,0.245500,0.205000,0.168000,0.268000,0.077000,0.123000,0.164000,0.293000,0.285000,0.186000,0.298000,0.264000,0.184250,0.214000,0.289000,0.324000,0.244000,0.305000,0.385000,0.327000,0.300000,0.349000,0.380000,0.375250,0.361000,0.373000,0.371000,0.378000,0.337000,0.381000,0.392000,0.365000,0.372250,0.408500,0.418000,0.437000,0.457000,0.443000,0.434000,0.455000
50%,0.366000,0.333000,0.355000,0.326000,0.303000,0.360000,0.313000,0.31200,0.385000,0.367000,0.305000,0.346000,0.413000,0.305000,0.325000,0.309000,0.388000,0.350000,0.406000,0.424000,0.409000,0.390000,0.468000,0.373000,0.374000,0.380000,0.504000,0.478000,0.404000,0.490000,0.448000,0.419000,0.427000,0.493000,0.539000,0.450000,0.528000,0.715000,0.548000,0.514000,0.596000,0.668000,0.658000,0.597000,0.676000,0.646000,0.667000,0.589000,0.693000,0.771000,0.640000,0.651000,0.719000,0.745000,0.858000,0.949000,0.865000,0.810000,0.939000
75%,0.676500,0.627000,0.647750,0.609000,0.584000,0.660250,0.601000,0.59500,0.677000,0.642000,0.588500,0.628000,0.709000,0.586000,0.625000,0.586000,0.695000,0.633000,0.697750,0.701000,0.709000,0.689000,0.825000,0.666000,0.674000,0.678000,0.854000,0.802000,0.728000,0.848500,0.758000,0.777000,0.748000,0.874000,0.905000,0.777000,0.938000,1.188000,0.988250,0.937000,1.028000,1.084250,1.063000,0.991000,1.104000,1.082000,1.096000,1.042500,1.134500,1.276500,1.091000,1.108000,1.126000,1.190000,1.389000,1.496000,1.364750,1.341000,1.508000
max,5.771000,4.373000,4.666000,5.233000,5.144000,5.771000,4.768000,4.37300,4.411000,4.373000,4.373000,9.475000,6.304000,6.912000,6.150000,7.689000,4.875000,5.956000,5.483000,4.519000,6.144000,5.411000,6.513000,9.303000,5.948000,6.845000,4.516000,4.982000,6.841000,9.730000,6.110000,6.017000,5.989000,6.477000,7.221000,7.270000,5.637000,6.816000,7.017000,5.836000,6.092000,8.719000,6.171000,7.461000,7.651000,11.331000,7.655000,8.298000,6.415000,7.190000,6.531000,10.826000,6.738000,11.759000,7.590000,10.478000,7.389000,9.228000,7.215000

In [18]:
#save describe to csv
# descriptive_analysis_cln = df_cln.describe()
# descriptive_analysis_cln.to_csv(os.path.join(path, '02_Data', 'Prepared Data', 'descriptive_analysis_cln.csv'))

In [19]:
df_lmtd.describe()

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,8270.000000,8322.000000,8294.000000,8250.000000,8264.000000,8330.000000,8330.000000,8318.000000,8296.000000,8274.000000,8262.000000,8284.000000,8330.000000,8306.000000,8212.000000,8142.000000,8172.000000,8242.000000,8208.000000,8200.000000,8202.000000,8168.000000,8140.000000,8182.000000,8146.000000,8202.00000,8216.000000,8196.000000,8172.000000,8154.000000,8038.000000,7862.000000,7780.000000,7846.000000,7882.000000,7896.000000,7780.000000,7826.000000,7780.000000,7768.000000,7682.000000,7752.000000,7814.000000,7838.000000,7846.000000,7912.000000,7942.000000,7890.000000,7824.000000,7850.000000,7816.000000,7734.000000,7800.000000,7752.000000,7734.000000,7728.000000,7740.000000,7726.000000,7758.000000
mean,0.403989,0.315527,0.317393,0.269524,0.218533,0.378619,0.264207,0.246432,0.383193,0.367517,0.243995,0.303110,0.429221,0.265378,0.319136,0.223672,0.427947,0.358753,0.445446,0.439790,0.438862,0.406340,0.503690,0.368338,0.368633,0.40126,0.536546,0.549720,0.473453,0.626118,0.504508,0.455292,0.468564,0.605796,0.625968,0.508868,0.620287,0.820803,0.689109,0.637238,0.716340,0.772022,0.773656,0.708997,0.773026,0.780174,0.800500,0.708530,0.792528,0.871572,0.751747,0.765246,0.794067,0.876953,0.967660,1.042293,0.971036,0.956386,1.034547
std,0.701177,0.713777,0.853133,0.749232,0.739886,0.737516,0.725758,0.755426,0.726004,0.662289,0.727560,0.767125,0.678992,0.770222,0.724796,0.757484,0.677442,0.663964,0.672284,0.640782,0.703508,0.676249,0.750084,0.700572,0.766614,0.71152,0.759096,0.665226,0.760308,0.725409,0.659016,0.789972,0.716704,0.686347,0.678950,0.655507,0.687593,0.708385,0.647822,0.698107,0.686862,0.695686,0.720001,0.590713,0.679160,0.747777,0.736456,0.720924,0.649340,0.803451,0.689452,0.748860,0.648583,0.730856,0.770628,0.787411,0.751523,0.790346,0.768443
min,-4.018000,-5.391000,-8.483000,-7.309000,-4.728000,-8.147000,-6.531000,-8.407000,-6.784000,-5.847000,-7.671000,-7.722000,-4.896000,-4.732000,-6.169000,-4.263000,-6.495000,-8.228000,-6.319000,-5.784000,-6.591000,-4.550000,-6.101000,-5.437000,-8.411000,-6.34500,-8.750000,-8.963000,-5.311000,-4.030000,-4.598000,-5.414000,-6.323000,-5.099000,-4.862000,-4.027000,-3.972000,-4.387000,-3.035000,-3.596000,-5.084000,-3.937000,-6.118000,-5.025000,-5.171000,-3.340000,-3.190000,-5.553000,-3.543000,-6.072000,-4.504000,-5.220000,-3.428000,-3.314000,-4.068000,-3.306000,-3.295000,-2.216000,-2.644000
25%,0.058000,-0.033000,0.030250,-0.102000,-0.213250,0.057250,-0.168000,-0.162000,0.172000,0.099000,-0.206000,-0.027000,0.204000,-0.180750,-0.108000,-0.217000,0.180750,0.096000,0.221000,0.247000,0.207000,0.169750,0.269750,0.083000,0.131000,0.17025,0.294000,0.287000,0.192000,0.301000,0.267250,0.207250,0.241000,0.298000,0.330000,0.262000,0.313000,0.392000,0.333000,0.303000,0.352000,0.382000,0.386000,0.362250,0.378000,0.375000,0.380000,0.338000,0.382750,0.396000,0.367000,0.373000,0.403000,0.414750,0.429000,0.452000,0.436000,0.428000,0.446000
50%,0.366500,0.333000,0.355000,0.326000,0.304000,0.361000,0.314000,0.313000,0.385000,0.368000,0.307000,0.346000,0.414000,0.307500,0.327500,0.310500,0.391000,0.353000,0.408000,0.426500,0.411000,0.390000,0.468000,0.375000,0.376000,0.38300,0.504500,0.479000,0.407000,0.491000,0.451000,0.427000,0.437000,0.492500,0.538000,0.457000,0.529000,0.712000,0.543500,0.505500,0.585000,0.655000,0.659000,0.586000,0.672000,0.639500,0.652000,0.571000,0.682000,0.753000,0.625000,0.630500,0.698000,0.729000,0.821000,0.920000,0.841000,0.779500,0.899000
75%,0.678750,0.627000,0.647750,0.609000,0.585000,0.662000,0.602000,0.597000,0.678000,0.644750,0.590000,0.629000,0.710000,0.590000,0.630000,0.590000,0.698000,0.637750,0.701000,0.703000,0.710000,0.690250,0.822000,0.666000,0.675000,0.68100,0.858000,0.806000,0.731000,0.850750,0.764000,0.772000,0.749000,0.857000,0.885000,0.778250,0.924000,1.173000,0.962250,0.889000,0.980000,1.048000,1.045000,0.972000,1.087000,1.058250,1.057750,0.989750,1.097000,1.253000,1.055000,1.057000,1.090000,1.151000,1.331000,1.447000,1.324000,1.282750,1.450000
max,5.771000,4.373000,4.666000,5.233000,5.144000,5.771000,4.768000,4.373000,4.411000,4.373000,4.373000,9.475000,6.304000,6.912000,6.150000,7.689000,4.875000,5.956000,5.483000,4.519000,6.144000,5.411000,6.513000,9.303000,5.948000,6.84500,4.516000,4.982000,6.841000,9.730000,6.110000,6.017000,5.989000,5.512000,7.074000,7.270000,5.301000,6.816000,6.598000,5.836000,6.092000,6.297000,6.171000,7.461000,7.651000,11.331000,7.655000,7.340000,6.415000,7.190000,6.531000,10.826000,6.738000,11.759000,7.590000,10.478000,7.267000,9.228000,7.215000

In [20]:
# save describe to csv
# descriptive_analysis_lmtd = df_lmtd.describe()
# descriptive_analysis_lmtd.to_csv(os.path.join(path, '02_Data', 'Prepared Data', 'descriptive_analysis_lmtd.csv'))

In [21]:
df_cln.head()

,Area,Months,Element,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,January,Temperature change,0.777,0.062,2.744,-5.232,1.868,3.629,-1.432,0.389,-2.298,0.804,-1.487,-1.305,-2.951,-1.184,-0.490,2.409,-3.014,-0.663,1.141,-0.393,1.724,0.678,0.524,-0.058,0.435,0.332,2.655,1.150,-1.108,0.634,0.018,0.582,-0.821,1.087,1.297,-0.718,1.426,0.950,0.859,1.565,-0.603,1.606,2.479,2.707,0.109,-1.606,0.431,-5.553,1.518,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,Afghanistan,January,Standard Deviation,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,Afghanistan,February,Temperature change,-1.743,2.465,3.919,-0.202,-0.096,3.397,0.296,-2.055,-3.167,1.809,0.816,-7.722,1.838,-3.706,-1.239,-1.620,-0.156,-0.369,1.072,-1.222,1.088,-2.101,0.460,-4.321,2.467,-0.286,1.409,0.170,-2.890,-0.310,-1.373,-0.120,1.414,-1.412,-0.149,0.870,0.043,-0.540,3.222,-0.901,0.707,0.985,1.816,2.871,-1.506,4.725,1.645,-2.332,2.494,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,Afghanistan,February,Standard Deviation,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,Afghanistan,March,Temperature change,0.516,1.336,0.403,1.659,-0.909,-0.069,-0.759,0.496,2.481,-0.915,1.658,-1.784,-0.473,1.001,-0.585,-2.817,3.377,-1.536,-1.420,-0.628,1.166,-1.781,-2.406,1.761,-0.160,-3.087,1.330,-0.056,0.065,-1.000,-0.901,-2.220,-1.449,1.312,-1.451,-0.336,-0.005,-0.576,-0.217,-0.267,1.229,1.949,-0.158,2.753,1.663,1.847,-0.201,4.172,2.362,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [22]:
df_lmtd.head()

,Area,Months,Element,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,January,Temperature change,0.777,0.062,2.744,-5.232,1.868,3.629,-1.432,0.389,-2.298,0.804,-1.487,-1.305,-2.951,-1.184,-0.490,2.409,-3.014,-0.663,1.141,-0.393,1.724,0.678,0.524,-0.058,0.435,0.332,2.655,1.150,-1.108,0.634,0.018,0.582,-0.821,1.087,1.297,-0.718,1.426,0.950,0.859,1.565,-0.603,1.606,2.479,2.707,0.109,-1.606,0.431,-5.553,1.518,3.601,1.179,-0.583,1.233,1.755,1.943,3.416,1.201,1.996,2.951
1,Afghanistan,January,Standard Deviation,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950,1.950
2,Afghanistan,February,Temperature change,-1.743,2.465,3.919,-0.202,-0.096,3.397,0.296,-2.055,-3.167,1.809,0.816,-7.722,1.838,-3.706,-1.239,-1.620,-0.156,-0.369,1.072,-1.222,1.088,-2.101,0.460,-4.321,2.467,-0.286,1.409,0.170,-2.890,-0.310,-1.373,-0.120,1.414,-1.412,-0.149,0.870,0.043,-0.540,3.222,-0.901,0.707,0.985,1.816,2.871,-1.506,4.725,1.645,-2.332,2.494,1.212,0.321,-3.201,1.494,-3.187,2.699,2.251,-0.323,2.705,0.086
3,Afghanistan,February,Standard Deviation,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597,2.597
4,Afghanistan,March,Temperature change,0.516,1.336,0.403,1.659,-0.909,-0.069,-0.759,0.496,2.481,-0.915,1.658,-1.784,-0.473,1.001,-0.585,-2.817,3.377,-1.536,-1.420,-0.628,1.166,-1.781,-2.406,1.761,-0.160,-3.087,1.330,-0.056,0.065,-1.000,-0.901,-2.220,-1.449,1.312,-1.451,-0.336,-0.005,-0.576,-0.217,-0.267,1.229,1.949,-0.158,2.753,1.663,1.847,-0.201,4.172,2.362,3.390,0.748,-0.527,2.246,-0.076,-0.497,2.296,0.834,4.418,0.234

In [48]:
# melt the dataframe

df_melted = pd.melt(df_cln, id_vars=['Area', 'Months','Element'], var_name='Year', value_name='Temperature')
print(df_melted)

               Area               Months             Element  Year  \
0       Afghanistan              January  Temperature change  1961
1       Afghanistan              January  Standard Deviation  1961
2       Afghanistan             February  Temperature change  1961
3       Afghanistan             February  Standard Deviation  1961
4       Afghanistan                March  Temperature change  1961
...             ...                  ...                 ...   ...
569699         OECD          JunJulAug  Standard Deviation  2019
569700         OECD          SepOctNov  Temperature change  2019
569701         OECD          SepOctNov  Standard Deviation  2019
569702         OECD  Meteorological year  Temperature change  2019
569703         OECD  Meteorological year  Standard Deviation  2019

        Temperature
0             0.777
1             1.950
2            -1.743
3             2.597
4             0.516
...             ...
569699        0.247
569700        1.233
569701        0.378
569702        1.297
569703        0.260

[569704 rows x 5 columns]

In [50]:
df_melted.head()

          Area    Months             Element  Year  Temperature
0  Afghanistan   January  Temperature change  1961        0.777
1  Afghanistan   January  Standard Deviation  1961        1.950
2  Afghanistan  February  Temperature change  1961       -1.743
3  Afghanistan  February  Standard Deviation  1961        2.597
4  Afghanistan     March  Temperature change  1961        0.516

In [66]:
#make sure Year is a number
df_melted['Year'] = df_melted['Year'].astype(int)

In [64]:
df_melted.dtypes

Area            object
Months          object
Element         object
Year             int32
Temperature    float64
dtype: object

In [74]:
df_melted['Element'] = df_melted['Element'].replace({
    'Temperature change': 'TC',
    'Standard Deviation': 'SD'})
df_melted.head()

          Area    Months Element  Year  Temperature
0  Afghanistan   January      TC  1961        0.777
1  Afghanistan   January      SD  1961        1.950
2  Afghanistan  February      TC  1961       -1.743
3  Afghanistan  February      SD  1961        2.597
4  Afghanistan     March      TC  1961        0.516

In [76]:
# Export df_melted to .csv
df_melted.to_csv(os.path.join(path, '02_Data','Prepared Data', 'df_melted.csv'))